footer.footer
  .main-footer.flex  
    .footer-column.flex  
      .footer-branding.flex  
        .footer-logo  
          img(src="img/favicon.png", alt="")
          span.brandName Lovemeloud
        .media-links.flex   
          .svg.svg-fb.flex  
            <i class='bx bxl-facebook'></i>
          .svg.svg-tw.flex 
            <i class='bx bxl-twitter'></i>
          .svg.svg-li.flex  
            <i class='bx bxl-linkedin-square'></i>
          .svg.svg-in.flex  
            <i class='bx bxl-instagram'></i>
      .footer-form
        h2 Get mental health wellness tips 
        p Through expertise research current menta; health issues, we bring to your inbox tips and facts on how to maintain a healthy mind. Sign up and join hundreds of happy people.
        form.sub-form
          input(type="email" placeholder='Enter your email address')
          button.btn.btn-sub Sign up

      
    .footer-links.flex 
      li: a(href='#') About us
      li: a(href='#') Services 
      li: a(href='#') Become a volunteer 
      li: a(href='#') Careers
      li: a(href='#') Contact
      li: a(href='#') Our partners 

    .footer-section
      h2 Donations 

  .footer-bottom
    p &copy; 2022 LoveMeLoud 