header.header
  nav 
    .main-nav.flex  
      .branding 
        a(href="/") 
          h1 MindAnchor

      .nav-links 
        ul.flex  
          li: a(href="/welcome") Home  
          li: a(href="/appointments") Appointments
          li: a(href="/sessions") Host Meeting     
          li: a(href="/clients") Clients  
          li: a(href="/dashboard") Dashboard   
          li: a(href="" class="donate-btn") Donations  
      if user 
        .user 
          .user-image--client.flex  
            span #{user.firstName.slice(0, 1)}
            span #{user.lastName.slice(0, 1)} 
          .profile-viewer.profile-viewer--client.c-shadow.hideViewer  
            a(href='/me' class="flex profile-viewer--link") 
              <i class='bx bxs-user-rectangle'></i> 
              span Profile 
            .btn.btn-logout.flex.profile-viewer--link 
              <i class='bx bx-log-out-circle' ></i> 
              span Logout  
