header.header-admin  
  nav.nav-dash 
    .top-nav--dash 
      .nav-dash--user.flex.fixed 
        .branding-dash
          a(href="/") 
            h1 MindAnchor

        .user.flex   
          img(src=`img/users/${user.photo}`, alt="")
          p 
            span #{user.lastName} 
            span #{user.firstName}
        .profile-viewer.c-shadow.hideViewer  
          a(href='/me' class="flex profile-viewer--link") 
            <i class='bx bxs-user-rectangle'></i> 
            span Profile 
          .btn.btn-logout.flex.profile-viewer--link 
            <i class='bx bx-log-out-circle' ></i> 
            span Logout 
    .main-nav--dash   
      .nav-links--dash.flex  
        a(href="/dashboard" class="nav-link--dash") 
          <i class='bx bxs-dashboard'></i> Dashboard 
        a(href="/appointments" class="nav-link--dash") 
          <i class='bx bxs-calendar'></i> Appointments 
        a(href="/staff" class="nav-link--dash") 
          <i class='bx bxs-user'></i> Counsellors
        a(href="/clients" class="nav-link--dash") 
          <i class='bx bxs-group'></i> Clients 
        a(href="" class="nav-link--dash") 
          <i class='bx bxs-videos'></i> Meetings 
        a(href="/users" class="nav-link--dash") 
          <i class='bx bxs-cog' ></i> Manage User 


