header.header
  nav
    .main-nav.flex  
      .branding 
        a(href="/") 
          h1 Diacare
      //- .nav-links 
      //-   ul.flex  
      //-     li: a(href="") Services
      //-     li: a(href="/therapists") Find Therapists 
      //-     li: a(href="/resources") Resources 
      //-     li: a(href="") About us 
      //-     li: a(href="" class="donate-btn") Donate 
      //- .search-btn 
      //-   .flex
      //-     //- p.nav-time
      //-     if user 
      //-       .flex 
      //-         p Welcome #{user.lastName}
      //-         p.btn.btn-logout  
      //-           span Log out <i class='bx bx-log-in-circle' ></i>  
      //-     else  
      //-       .welcome-act-btns.flex 
      //-         p.btn.signin-btn.flex  
      //-           <i class='bx bx-user'></i>
      //-           a(href="/signin")  Sign in
      //-         a.btn.signup-btn.getstarted-btn(href='/signup')
      //-           span Get started
