header.header
  nav
    .main-nav.flex  
      .branding 
        a(href="/") 
          h1 MindDose

      .nav-links 
        ul.flex  
          li: a(href="/welcome") Home  
          li: a(href="/schedule") Schedule Meeting  
          li: a(href="/myappointments") My appointments  
          li: a(href="/me") My Account 
          li: a(href="" class="donate-btn") Donations  
      if user 
        .flex 
          p Welcome #{user.lastName}
          p.btn.btn-logout  
            span Log out <i class='bx bx-log-in-circle' ></i>  
