extends base

block content
  main.main
    section.section.section--1.section-welcome--1.flex
      .section-overlay.overlay     
      .section-content-wrapper 
        .section-heading.section-heading--service.flex  
          h2 Guidence and Counselling
          p Sechedule an appointment and one of our experts in guidance and counselling will instantly get in touch with you to help you out.
          a(href="/services/counselling/schedule") 
            button.btn.btn-getstarted Get started <i class='bx bx-chevrons-right'></i>

    section.section.section-services  
      .section-heading 
        h3 Professional Counsellors
      .section-content.flex 
        .experts 
          each counsellor in counsellors
            .expert.c3-shadow 
              img(src=`../img/users/${counsellor.photo}`, alt="")
              .expert-desc
                .expert-profile  
                  h4.expert-name #{counsellor.firstName} #{counsellor.lastName}
                  p.title Specialist Counsellor
                .expert-exp 
                  p #{counsellor.profile} 
              button.btn.profileViewerBtn.profile-btn View Profile
             



