extends base

block content
  main.main
    section.section.section-resources.section--1.section-welcome--1.flex  
      .section-content-wrapper 
        .section-heading.section-heading--service.flex  
          h2 Mental Health Resource Library

    section.section.section-resources.section-services  
      .section-heading 
      .section-content.resources-content-container.grid.grid-4 
        .resource-content.card.card-c   
          .card-image.resource-image  
            img(src="https://images.unsplash.com/photo-1624561132420-4d3df708e731?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80", alt="")
          .card-content 
            h3 Stress Management Tips
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ea.
        .resource-content.card.card-c   
          .card-image 
            img(src="https://images.unsplash.com/photo-1639275617881-d4d39df84950?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1333&q=80", alt="")
          .card-content 
            h3 Effects of Stress at Work
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ea.

        
             



