extends base
 
block content     
    page-wrapper
        if user  
        -var client = user.role == 'user'
        -var counsellor = user.role == 'counsellor'
        -var consultant = user.role == 'consultant'
        -var admin  = user.role == 'admin'
        -var staff = user.duty == 'staff'
        .main-content
            .session-wrapper.flex  
                .call-container.flex 
                    .video-box-container
                        .local-video-container
                            video#local_video.local_video(muted autoplay='') 
                        .main-preview
                            video#remote_video.remote_video( autoplay='') 
                            .codes-container
                                .personalCode.flex.noShow  
                                    input#personalCodeParagraph(type="text")
                                    button#copyPersonalCodeBtn.btn  <i class='bx bx-copy' ></i>
                         
                    if staff 
                        .cpanel-container.staff-cpanel 
                            .personalCode-init-container
                                .video_recording_buttons 
                                    button#resume_recording_button
                                        <i class='bx bx-play'></i> Resume recording
                                    button#pause_recording_button 
                                        <i class='bx bx-pause'></i> Pause recording

                            .control-icons.flex
                                #screen-sharing-buttons.flex
                                    .icon#screen-sharing-start.icon-screen.flex  
                                        img(src="./img/icons/screen-sharing.png", alt="") 
                                #mic-buttons.flex 
                                    .icon.icon-audio--mute#icon-audio--mute.flex 
                                        <i class='bx bxs-microphone' ></i>
                                    .icon.icon-audio--unmute#icon-audio--unmute.noShow.flex 
                                        <i class='bx bxs-microphone-off'></i> 
                                #video-buttons.flex 
                                    .icon.icon-video#callStranger.flex  
                                        img(src="./img/icons/hangUp.png", alt="") 
                                    .icon#icon-hangup.icon-hangup.noShow.flex 
                                        img(src="./img/icons/hangUp.png", alt="") 
                                    .icon.icon-video--cancel#camera_button_image.flex  
                                        <i class='bx bx-video'></i>
                                .icon#icon-record.icon-record.flex 
                                    img(src="./img/icons/rec-button.png", alt="")
                                .icon#icon-record--stop.icon-record--stop.flex 
                                    img(src="./img/icons/stop.png", alt="")
                    if client 
                        .cpanel-container.client-cpanel 
                            .control-icons.flex
                                .icon.icon-video--cancel#camera_button_image.flex  
                                    <i class='bx bx-video'></i>
                                .icon.icon-video#allow_staff_call_btn.flex  
                                    img(src="./img/icons/hangUp.png", alt="")
                                #mic-buttons.flex 
                                    .icon.icon-audio--mute#icon-audio--mute.flex 
                                        <i class='bx bxs-microphone' ></i>
                                    .icon.icon-audio--unmute#icon-audio--unmute.noShow.flex 
                                        <i class='bx bxs-microphone-off'></i> 
                            //- .control-icons.control-icons--client.flex
                            //-     .icon#icon-showChat.icon-showChat.flex 
                            //-         <i class='bx bxs-chat'></i>
                            
                        

                            
                #messages_container.messanger-container.flex
                    #messages_box   
                    .chat-input 
                        #messangerForm(class='messenger-form') 
                            input(type="text" id='newMessageInput' placeholder= 'Type a message here')
                            button#chatBtn <i class='bx bxs-send'></i>
            #callDialogWrapper



        
                
    
