extends base

block content
  main.main.signin-page 
    
    section.section.section-signin 
      .section-content.section-content--signin.flex  
        .section-content.section-content--signin.flex 
          form.signup-form.c-form
            h2 Create your account
            .form-parts-container.flex 
              .form-part.form-part--1 
                .form-field 
                  label(for="firstName") First name 
                  input(type="text" required id='firstName' placeholder='Enter your first name')
                .form-field 
                  label(for='lastName') Last name
                  input(type="text" required id='lastName' placeholder='Enter your last name')
                .form-field 
                  label(for='gender') Gender
                  input(type="text" required id='gender' placeholder='Enter your last name')
                .form-field 
                  label(for='dateOfBirth') Date of birth
                  input(type="date" required id='dateOfBirth' placeholder='Enter date of birth')
                .form-field 
                  .btn.btn-form-part.btn-form-part--1 Continue 
              .form-part.form-part--2
                .form-field 
                  h3 Are you a student?
                  .input-wrapper 
                    input#student(type='radio' name='serviceStatus' value="student" class="studentBtn")
                    input#notStudent(type='radio' name='serviceStatus' value="notStudent" class="notStudentBtn")

                    label.option.student(for='student')
                      .dot
                      span  Yes
                    label.option.notStudent(for='notStudent')
                      .dot
                      span No
          
                .form-field 
                  .btn.btn-form-part.btn-form-part--2 Continue
              .form-part.form-part--3 
                .form-field 
                  label(for="institution") University/Institution  
                  input(type="text" required id='institution' placeholder='Enter your institution')
                .form-field 
                  label(for='phone') Course 
                  input(type="text" required id='course' placeholder='Enter your course')
                .form-field 
                  .btn.btn-form-part.btn-form-part--3 Continue  
              .form-part.form-part--4 
                .form-field 
                  label(for="email") Email  
                  input(type="email" required id='email' placeholder='Enter your email')
                .form-field 
                  label(for='phone') Phone 
                  input(type="text" required id='phone' placeholder='Enter your phone')
                .form-field 
                  .btn.btn-form-part.btn-form-part--4 Continue 
              .form-part.form-part--5 
                .form-field 
                  label(for="email") Password   
                  input(type="email" required id='password' placeholder='Enter your password')
                .form-field 
                  label(for='passwordConfirm') Repeat password  
                  input(type="password" required id='passwordConfirm' placeholder='Repeat password')
                .form-field 
                  .btn.btn-form-part.btn-form-part--5 Complete Sign up 
      
      
               
        
             



