extends base

block content
  main.main
    section.section.section--1.section-welcome--1.flex
      .section-overlay.overlay     
      .section-content-wrapper 
        .section-heading 
          h2 Welcome to our services
    section.section.section-services.section-services--1  
      .section-heading 
      .section-content.section-content--services
        .services-desc 
        .sevices-container.flex.lgWd 
          a(href="/schedule" class="service-container flex") 
            .service-image 
              img(src="img/icons/conversation.png", alt="") 
            .service-name
              h3 Diagnosis and Assessment  
            .service-desc
              p  Welcome! This service allows you to connect with one of our Counsellors for a face-to-face or virtual session
            button.btn.flex <i class='bx bx-calendar'></i> Schedule Appointment   
          a(href="/schedule" class="service-container flex") 
            .service-image 
              img(src="img/icons/headache.png", alt="") 
            .service-name
              h3 Mental Health Consultation 
            .service-desc
              p Welcome! This service allows you to connect with one of our Counsellors for a face-to-face or virtual session  
            button.btn.flex <i class='bx bx-calendar'></i> Schedule Appointment 
               
        
             



