:root {
  --section-rotate: 9vw;
  --primary-color: rgb(247, 250, 255);
  --bg-color--yellow: #ffb700;
  --primary-color-dark: rgb(0, 107, 255);
  --secondary-color: rgb(11, 53, 88);
  --secondary-color-dark: rgb(10, 37, 64);
  --secondary-color-light: rgb(0, 107, 255);
  --tartiary-color: #0069d9;
  --darkblue--bg: #1c284c;
  --bg-color: rgb(229, 230, 237);
  --py-1: 3rem;
  --px-1: 3rem;
  --py-2: 2rem;
  --px-2: 2rem;
  --py-3: 1rem;
  --px-3: 1rem;
  --font-1: 3rem;
  --font-2: 2.5rem;
  --font-3: 2rem;
  --font-4: 1.5rem;
  --font-5: 1rem;
}

::-moz-selection {
  background-color: var(--secondary-color);
  color: #fff;
}

::selection {
  background-color: var(--secondary-color);
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-style: normal;
  font-family: Proxima Nova, Arial, sans-serif;
  color: #777;
  color: var(--secondary-color);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background: var(--bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.display_none {
  display: none;
}

.bx {
  font-size: 1.4rem;
}
.std-btn {
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.1s;
}

.main {
  background: rgba(243, 246, 251, 255);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  top: 90px;
  margin-bottom: 90px;
}
.main-content {
  position: relative;
  padding: 3rem;
  top: 90px;
  margin-bottom: 90px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-c {
  flex-direction: column;
}

.flex-ctr {
  justify-content: center;
}
.grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-details {
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
  background: #fff;
}
.card-image {
  width: 100%;
}
.card-image img {
  width: 100%;
}
.card-details--header {
  width: 100%;
  text-align: center;
  background: var(--secondary-color);
  color: #fff;
  padding: 10px 0;
}
.card-details--header h2 {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.maxWd {
  width: 100%;
  margin: 0 auto;
}
.lgWd {
  width: 80%;
  margin: 0 auto;
}
.midWd {
  width: 60%;
  margin: 0 auto;
  max-width: 750px;
}
.c-shadow {
  border: 1px solid rgba(133, 133, 133, 0.4);
}
.c2-shadow {
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 19%);
}
.c3-shadow {
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 19%);
}
.c-radius {
  border-radius: 3px;
}
.c-pad {
  padding: 3rem 2rem;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}

.btn {
  cursor: pointer;
}
.empty-note {
  padding: 20px 0;
}
.empty-note p {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.empty-note .bx {
  font-size: 4rem;
}
.noShow {
  display: none;
  width: 0;
  height: 0;
  user-select: none;
  transition: all ease-in-out 0.5s;
}
.centeredContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userImg {
  width: 40px;
  height: 40px;
  border: 50%;
}
.userImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

button {
  border: none;
  padding: 1rem 2rem;
}
button:disabled {
  cursor: not-allowed;
  background: #777;
}
input:focus {
  outline: none;
}
.completed {
  background: #20bf6b;
}
.pending {
  background: var(--primary-color);
}
.section {
  padding: 8rem 6rem;
  position: relative;
}
.section-heading {
  font-size: var(--font-1);
  margin-bottom: 3rem;
  /* text-align: center; */
}
.section-heading p {
  font-size: 20px;
  margin-bottom: 2rem;
}
.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* MY ACCOUNT PAGE */
.profile-content {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: stretch;
  grid-auto-rows: max-content;
}
.acc-input {
}
.profile-card {
  padding: 30px 50px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 3px #f4f4f4 solid;
  border-radius: 3px;
}
.form-user-password {
  background: #fff;
}
.profile-card--header {
  text-align: center;
  background-color: #777;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
}

.label {
  /* width: 80%; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 15px;
  font-size: 13px;
}
.profile-card .label {
  width: 100%;
  /* display: block; */
}
.profile-card .label-content {
  display: block;
  margin: 15px 0;
}
.profile-card .label textarea {
  width: 100%;
  height: 100px;
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  resize: none;
}
.label label {
  font-weight: 600;
  margin-bottom: 4px;
}
.label input {
  font-size: 12px;
  font-family: inherit;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  background-color: #f4f4f4;
  border-radius: 2px;
}
.user-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.label input:focus {
  border: none;
  outline: 2px var(--secondary-color) solid;
  /* box-shadow: 0 11px 30px rgb(154 161 177 / 30%); */
}
.profile-btn button {
  background: var(--secondary-color);
  color: #fff;
  width: 100%;
  padding: 8px 10px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.profile-btn button:hover {
  background-color: var(--secondary-color-light);
  transition: 0.2s;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form-user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
}

.form-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form-upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form-upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* Popups  */
.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000;
}

.loginPopup,
.signupPopup {
  flex-direction: column;
  width: 30%;
  padding: 4rem 2rem;
  background: #fff;
  border-radius: 5px;
  color: var(--secondary-color);
}
.loginPopup,
.signupPopup h2 {
  font-size: 2rem;
}
.close-popup-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--secondary-color-dark);
  /* border-radius: 50%; */
}
.close-popup-btn i {
  filter: invert(1);
}
#profileViewerPopup {
  width: 50vw;
  max-width: 700px;
  height: 70vh;
  max-height: 600px;
  position: fixed;
  z-index: 950;
  padding: 1rem;
}
#profileViewerPopup img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#profileViewContainer {
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  height: 100%;
}
#profileViewContainer .user-info {
  position: relative;
  text-align: center;
}
#profileViewContainer .user-info img {
  height: 250px;
}
#profileViewContainer .user-info h2 {
  font-size: 2rem;
}
#profileViewContainer .user-info-bio {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #f4f4f4;
  height: 100%;
  padding: 0 1rem;
}
#profileViewContainer .user-info-bio .user-info-section:not(:last-child) {
  padding: 10px 0;
  border-bottom: 1px #202124 dotted;
}
#profileViewContainer .user-info-bio .user-info-section--profile {
  position: relative;
  margin-bottom: 20px;
}
#profileViewContainer .user-info-bio .user-info-section--profile p {
  font-size: 1.4rem;
  line-height: 1.1;
}
#profileViewContainer .user-info-bio .user-info-section--profile i {
  font-size: 3rem;
  color: var(--bg-color--yellow);
}
#profileViewContainer .user-info-bio h3 {
  font-size: 1.8rem;
}
#profileViewContainer .user-info-bio p {
  font-size: 1.4rem;
  color: #000;
}
.profileViewerBtn {
  justify-content: center;
}
.profileViewerBtn i {
  font-size: 2rem;
  margin-right: 5px;
}
.profileViewerBtn-staff {
  background: var(--secondary-color);
  padding: 5px 10px;
  color: #fff;
}
.profileViewerBtn-staff i {
  font-size: 2rem;
}
.close-popup-btn i {
  font-size: 20px;
  color: #fff;
}
#signUpForm {
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
}
.btn-signup {
  width: 100%;
  background: var(--primary-color-dark);
  color: #fff;
  text-transform: uppercase;
}
.login-form,
.signup-form {
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}
.signup-form .btn {
  width: 100%;
  padding: 7px 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.signup-form .field,
.login-form .field {
  width: 100%;
  position: relative;
  height: 32px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.signup-form .field i,
.login-form .field i {
  width: 100%;
  position: absolute;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(133, 133, 133);
}
.formBackBtn {
  cursor: pointer;
}
.signup-form select {
  padding-left: 30px;
}
.login-form input,
select,
.signup-form input {
  width: 100%;
  padding: 5px 6px;
  height: 100%;
  padding-left: 33px;
}

.login-form button,
.signup-form button {
  width: 100%;
  padding: 7px 6px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  background: var(--primary-color-dark);
  color: #fff;
}
.newAccountLink {
  font-size: 1.5rem;
  font-weight: normal;
}
.newAccountLink a {
  font-weight: bold;
  text-decoration: underline;
}
/* Overlay  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 100;
  overflow: hidden;
}
.top-nav {
  background: var(--secondary-color-dark);
  color: #fff;
  padding: 5px 2rem;
}

.profile-card h2 {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.welcome-act-btns .btn {
  height: 100%;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.5rem;
}
.signup-btn {
  background: var(--secondary-color-light);
  color: #f4f4f4;
  font-weight: 400;
}
.welcome-act-btns .signin-btn {
  border: 1px #fff solid;
  box-sizing: border-box;
}
.top-nav p {
  margin-left: 10px;
  font-size: 1.3rem;
}
.main-nav {
  background: #fff;
  padding: 2rem 3rem;
  /* border-bottom: 1px var(--primary-color) solid; */
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
}
.main-nav .branding img {
  height: 4rem;
}
.main-nav .branding h1,
.branding-dash h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.branding-dash img {
  height: 4rem;
}
.nav-links ul li a {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: bold;
  margin: 20px 20px;
  transition: color 0.3s ease-in;
}

.nav-links ul li a:hover {
  color: var(--primary-color-dark);
}
.search-btn i {
  font-size: 2rem;
}

/* Admin Header  */

.header-admin {
  position: fixed;
  width: 20%;
  z-index: 100;
  left: 0;
  top: 40px;
  height: 100vh;
  background: #000;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dashboard-wrapper,
.page-wrapper {
  width: 80%;
  position: absolute;
  height: 100vh;
  left: 20%;
  top: 40px;
  background: var(--bg-color);
}
.dashboard-wrapper {
  top: -40px;
}

.nav-dash {
  padding: 1rem;
  height: 100%;
  position: relative;
}
.top-nav--dash {
  margin-bottom: 3rem;
}
.main-nav--dash {
  position: relative;
  height: 100%;
}
.main-nav--dash .nav-links--dash {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3rem;
}
.main-nav--dash .nav-links--dash .nav-link--dash {
  padding: 1rem 0;
  text-align: left;
  font-size: 1.6rem;
}

.nav-dash--user {
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  padding: 0 2rem;
  box-shadow: 0 0 10px rgba(108, 108, 108, 0.3);
}
.nav-dash--user .user {
  outline: 1px #000 solid;
  padding: 2px 10px;
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
}
.nav-dash--user .user img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.nav-dash--user .user p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.nav-dash--user .user p span {
  margin-left: 2px;
}
.profile-viewer {
  position: absolute;
  right: 2rem;
  top: 40px;
  background: #fff;
  padding: 2rem 3rem;
  box-shadow: 0 11px 30px rgb(154 161 177 / 30%);
}
.profile-viewer--client {
  top: 88px;
}
.profile-viewer--link {
  padding: 10px 0;
}
.profile-viewer--link:hover {
  color: #db5588;
}
.profile-viewer--link img {
  margin-right: 5px;
}
.profile-viewer--link span {
  font-size: 1.4rem;
}

.hideViewer {
  height: 0;
  width: 0;
  padding: 0;
  transition-property: height;
  transition: 0.3 ease-in;
  overflow: hidden;
}
/* Admin Header END */

/* ADMIN DASHBOARD  */
.c-box--dash {
  border-radius: 3px;
  background: #fff;
  flex-basis: 23%;
  padding: 2rem 2rem;
  justify-content: flex-start;
}
.c-box--dash .c-box--desc h2 {
  font-size: 2rem;
}
.c-box--dash .c-box--desc h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.c-box--dash .c-box--cover {
  margin-right: 10px;
}
.c-box--cover {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.c-box--cover_1 {
  background: rgb(112, 59, 218, 0.3);
}
.c-box--cover_2 {
  background: rgb(250, 154, 104, 0.3);
}
.c-box--cover_3 {
  background: rgb(67, 200, 155, 0.3);
}
.c-box--cover_4 {
  background: rgb(226, 88, 128, 0.3);
}
.c-box--cover img {
  transform: scale(0.6);
}
.dashboard-wrapper .section,
.page-wrapper {
  padding: 1rem 4rem;
}
.section-dash--overview {
  margin-top: 4rem;
}
.section-dash--overview .c-box--wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.section-dash--2 .c-box--wrapper {
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: 300px;
}
.section-dash--2 .c-box--wrapper .c-box--stats {
  grid-template-columns: 2fr 1fr;
  background: #fff;
  height: 100%;
}
.section-dash--2 .c-box--wrapper .c-box--analytics {
  background: #fff;
  height: 100%;
}
.stats-headers {
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
  border-bottom: 0.5px rgb(154 161 177 / 30%) solid;
}
.stats-headers h3 {
  font-size: 1.4rem;
  text-align: center;
}
/* ADMIN DASHBOARD  END*/

/* SECTION STYLES  */

.section-heading {
  margin: 3rem 0;
  margin-bottom: 6rem;
}
.section-heading h2 {
  font-weight: 700;
}
.section-heading--service {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-heading--service p {
  margin-bottom: 10px;
}
.section-content {
  font-size: var(--font-3);
  max-width: 1200px;
  margin: 0 auto;
}
.section-content p {
  margin: 1rem 0;
}
.connect-btn {
  background: var(--secondary-color-light);
  color: #fff;
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 3px;
}
.btn-getstarted {
  background: var(--secondary-color-light);
  color: #fff;
}
.section-overlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.section--1 {
  color: #fff;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.section-home--1 {
  min-height: 550px;
  position: relative;
  background-image: url('../img/cover.jpg');
  padding-top: 80px;
}
.section-welcome--1 {
  height: 400px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  background: #1c284c;
}
.section-welcome--1::after {
  content: '';
  background: hsl(217deg 50% 97%);
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -20px;
  left: 0;
  clip-path: ellipse(75% 100% at center bottom);
}

.section--1 .section-heading {
  margin: 2rem 0;
  line-height: 1.3;
}
.section--1 .section-heading p {
  font-size: var(--font-3);
}
.section--1 button {
  text-transform: uppercase;
}
.section-content-wrapper {
  position: relative;
  z-index: 100;
}
.section--3 {
  background: rgb(247, 250, 255);
  background: rgba(200, 223, 255, 0.6);
}
.section--2 {
  background: #fff;
  padding: 13rem 6rem;
  background-image: url('../img/grid-bg.svg');
}
.section--page::before {
  background-color: inherit;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  content: '';
  display: block;
  height: 64px;
  position: absolute;
  background-image: url('../img/grid-bg.svg');

  top: -64px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.front-app-section {
  align-items: flex-start;
  margin: auto 0;
}
.front-app-section h2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -2px;
}
.front-app-section p {
  margin: 20px 0;
}
.front-app-section button {
  background: var(--primary-color-dark);
  color: #fff;
  padding: 15px 20px;
}
.front-app-section .std-btn--wht {
  background: #fff;
  color: var(--primary-color-dark);
  outline: 1px var(--primary-color-dark) solid;
}
.front-app-section .std-btn--bl:hover {
  background: var(--tartiary-color);
}
.std-btn--wht:hover {
  outline: 2px var(--primary-color-dark) solid;
}
.front-app-section button:first-child {
  margin-right: 10px;
}
.section--4 {
  background-color: #fff;
  color: var(--secondary-color-dark);
}
.section-content--howto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section--3 .section-heading h2 {
  font-size: 4rem;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}
.section--4 .section-heading h2 {
  text-align: center;
  font-size: var(--font-1);
  font-size: 4rem;
  /* line-height: 4rem; */
}
.c-box {
  flex-basis: 27%;
  padding: 2rem;
  text-align: center;
  position: relative;
  border-radius: 0px 0px 5px 5px;
  /* border: 1px #777 solid; */
  /* border-top: 20px #db5588 solid; */
}
.section--4 .c-box {
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px var(--bg-color) solid;
  border-radius: 8px;
  position: relative;
  text-align: left;
  background: #fff;
  box-shadow: rgba(1, 14, 40, 0.201) 0px 0px 4px;
}
.section--4 .c-box--img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(0, 106, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/grid-bg.svg');
}
.section--4 .c-box img {
  filter: invert(0%);
  color: #db5588;
  width: 40px;
  height: 40px;
}
.section--4 .c-box h3 {
  font-weight: 600;
  font-size: 24px;
}
.c-box:first-child {
  /* border-top: 20px #db5588 solid; */
}
.c-box:nth-child(2) {
  /* border-top: 20px var(--secondary-color) solid; */
}
/* TESTIMONIALS SECTION  */
.testimonials-section {
  background: url('../img/map.png') no-repeat;
  background-size: cover;
}
.testimonials-section .section-intro {
}
.testimonials-section .section-intro h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}
.testimonials-section .section-intro p {
  font-size: 3rem;
  word-wrap: break-word;
  margin: 30px 0;
}
.btn-testimonials {
  background: var(--primary-color-dark);
  border-radius: 20px;
  padding: 15px 25px;
  color: #ffff;
}
.testimonial {
  background: #fff;
  flex-basis: 50%;
  max-width: 350px;
  padding: 3rem;
  margin: 20px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.testimonial .cover {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px var(--primary-color-dark) dotted;
  border-radius: 50%;
  justify-content: center;
}
.testimonial .cover img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial p {
  font-size: 2rem;
  margin-bottom: 30px;
  position: relative;
}
.testimonial .review-name {
  text-align: center;
  font-size: 1.3rem;
}
.testimonial .review-name::before {
  content: '';
  background: var(--primary-color-dark);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  height: 1px;
  width: 30px;
}
/* TESTIMONIALS END  */

.section--3 .c-box:not(:last-child)::after {
  content: '';
  background: url('../img/arrow.svg') no-repeat;
  width: 40px;
  height: 83px;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}
.c-box--content {
  margin-top: 20px;
}
.c-box h3 {
  font-weight: 500;
}
.c-box p {
  font-size: var(--font-4);
  line-height: 1.4;
}
.experts-intro {
  width: 30%;
  text-align: right;
  line-height: 1.3;
}
.experts {
  display: flex;
  width: 100%;
}
.experts-inpage {
  width: 100%;
}
.expert {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 235px;
  min-height: 332px;
  justify-content: space-between;
  margin: 1rem;
  background: #f4ede4 !important;
  background: #fff;
  padding: 3rem 1rem;
  border: 1px var(--bg-color) solid;
}
.expert img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 1px solid #c5c5c5;
}
.experts-inpage .expert img {
  height: 70%;
  width: 100%;
  border-radius: 0;
}
.experts-inpage .expert {
  padding: 0;
  border-radius: 0;
}
.experts-inpage img {
  border: none;
}
.expert-desc {
  padding: 0 1rem;
  text-align: center;
  line-height: 1.4;
  font-size: var(--font-3);
}
.expert-desc h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
.expert p {
  line-height: 1.2;
}
.expert-profile {
  position: relative;
  margin-bottom: 20px;
}
.experts .profile-btn {
  width: 100%;
  background: var(--primary-color-dark);
  color: #fff;
}
.expert-profile::after {
  content: '';
  background: var(--secondary-color-dark);
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.expert-exp {
  font-size: var(--font-4);
  margin-top: 30px;
  margin-bottom: 24px;
}
.home-profileBtn {
  font-size: 1.4rem;
  color: var(--primary-color-dark);
  display: inline;
  position: relative;
}
.home-profileBtn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 0;
  background: var(--primary-color-dark);
  transition: all 0.2s;
}
.home-profileBtn:hover,
.home-profileBtn:hover:after {
  width: 100%;
}
/* SERVICES PAGE */

.services-container {
}
.section-services--1 {
  padding-top: 3rem;
}
.service-container {
  flex-direction: column;
  width: 100%;
  padding: 3rem 2rem;
  margin: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 11px 30px rgb(154 161 177 / 30%);
  border: 0.5px solid rgba(100, 146, 253, 0.3);
}
.service-container:hover {
  box-shadow: 0 11px 30px rgb(154 161 177 / 50%);
  border: 0.5px solid rgba(100, 146, 253, 0.5);
}
.service-container .service-desc {
  margin: 10px auto;
  text-align: center;
  line-height: 1.4;
}
.service-container .service-name h3 {
  text-transform: uppercase;
}
.service-container button {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  justify-content: center;
}
.service-container button:hover {
  background: #4863c6;
}
.service-container button i {
  font-size: 20px;
  margin-right: 5px;
}

/* USERS PAGE */
.page-wrapper--users .section {
  padding: 8rem 0rem;
}
.section-users {
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  grid-gap: 20px;
}
.users-container {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.users-container--header {
  align-items: flex-start;
}
.users-container--header .btn-addStaff {
  text-transform: uppercase;
  background: var(--primary-color-dark);
  color: #fff;
  font-size: 10px;
  padding: 5px 10px;
  font-weight: 500;
}
.users-container--header .btn-addStaff:hover {
  background: var(--primary-color);
}
.users-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
.users-container--staff {
  border-top: 2px var(--primary-color) solid;
}
.users-container--clients {
  border-top: 2px var(--secondary-color) solid;
}
.users-container .user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.users-container .user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.container-user--client .user-image {
  background: #1c284c;
  color: #fff;
  justify-content: center;
}
.user {
  cursor: pointer;
}
.user-image--client {
  width: 3.2rem;
  height: 3.2rem;
  background: var(--darkblue--bg);
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
}
.container-user {
  border-bottom: 0.5px rgba(119, 119, 119, 0.297) solid;
  padding: 1rem 0;
  justify-content: flex-start;
}

.container-user--client {
}
.container-user--staff {
  justify-content: space-between;
}
/* USERS PAGE ENDS HERE */

/* SCHEDULE Pages */
.section-schedule {
  background-repeat: no-repeat;
  background-size: cover;
}
.form-schedule {
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  /* z-index: 1000; */
  max-width: 900px;
  padding-bottom: 20px;
}
.form-schedule .form-heading {
  padding: 2rem;
  background: var(--darkblue--bg);
  text-align: center;
}
.form-schedule .form-heading h2 {
  font-weight: 300;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
}
.form-stage-items {
  margin: 10px auto;
  justify-content: center;
}
.form-stage {
  margin-right: 3px;
  width: 50px;
  height: 3px;
  background: #fff;
}
.active-stage {
  background: #20bf6b;
}
.form-body {
  padding: 2rem;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-field {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-field h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.schedule-time {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-section {
}

.input-wrapper {
  background: #fff;
  flex-direction: column;
  width: 100%;
}
.input-wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  border-radius: 3px;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid var(--secondary-color-dark);
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

.input-wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.input-wrapper .option .dot::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--darkblue--bg);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type='radio'] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#service-1:checked:checked ~ .service-1,
#service-2:checked:checked ~ .service-2,
#service-3:checked:checked ~ .service-3,
#service-4:checked:checked ~ .service-4,
#service-5:checked:checked ~ .service-5,
#service-6:checked:checked ~ .service-6,
#service-7:checked:checked ~ .service-7,
#service-8:checked:checked ~ .service-8,
#service-9:checked:checked ~ .service-9,
#service-10:checked:checked ~ .service-10,
#service-11:checked:checked ~ .service-11,
#service-12:checked:checked ~ .service-12 {
  border-color: var(--darkblue--bg);
  background: var(--darkblue--bg);
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#service-1:checked:checked ~ .service-1 .dot,
#service-2:checked:checked ~ .service-2 .dot,
#service-3:checked:checked ~ .service-3 .dot,
#service-4:checked:checked ~ .service-4 .dot,
#service-5:checked:checked ~ .service-5 .dot,
#service-6:checked:checked ~ .service-6 .dot,
#service-7:checked:checked ~ .service-7 .dot,
#service-8:checked:checked ~ .service-8 .dot,
#service-9:checked:checked ~ .service-9 .dot,
#service-10:checked:checked ~ .service-10 .dot,
#service-11:checked:checked ~ .service-11 .dot,
#service-12:checked:checked ~ .service-12 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#service-1:checked:checked ~ .service-1 .dot::before,
#service-2:checked:checked ~ .service-2 .dot::before,
#service-3:checked:checked ~ .service-3 .dot::before,
#service-4:checked:checked ~ .service-4 .dot::before,
#service-5:checked:checked ~ .service-5 .dot::before,
#service-6:checked:checked ~ .service-6 .dot::before,
#service-7:checked:checked ~ .service-7 .dot::before,
#service-8:checked:checked ~ .service-8 .dot::before,
#service-9:checked:checked ~ .service-9 .dot::before,
#service-10:checked:checked ~ .service-10 .dot::before,
#service-11:checked:checked ~ .service-11 .dot::before,
#service-12:checked:checked ~ .service-12 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.input-wrapper .option span {
  font-size: 1.6rem;
  margin-left: 5px;
  color: #000;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#service-1:checked:checked ~ .service-1 span,
#service-2:checked:checked ~ .service-2 span,
#service-3:checked:checked ~ .service-3 span,
#service-4:checked:checked ~ .service-4 span,
#service-5:checked:checked ~ .service-5 span,
#service-6:checked:checked ~ .service-6 span,
#service-7:checked:checked ~ .service-7 span,
#service-8:checked:checked ~ .service-8 span,
#service-9:checked:checked ~ .service-9 span,
#service-10:checked:checked ~ .service-10 span,
#service-11:checked:checked ~ .service-11 span,
#service-12:checked:checked ~ .service-12 span {
  color: #fff;
}

.schedule-time .time-field {
  width: 100%;
  margin: 0px 0px;
  margin-right: 7px;
  position: relative;
  height: 45px;
}
.schedule-time .time-field:last-child {
  margin-right: 0px;
}
.time-field input {
  height: 45px;
}
.schedule-time select {
  height: 100%;
  border-radius: 3px;
}
.schedule-time label {
  position: absolute;
  left: 10px;
  top: 0;
  font-weight: 400;
  margin-bottom: 3px;
  color: #000;
  font-size: 1.2rem;
}
.schedule-time--date {
  /* margin-bottom: 10px; */
  width: 100%;
}
.time-field input {
  width: 100%;
  border-radius: 3px;
}
.schedule-time select,
.time-field input {
  color: var(--secondary-color);
  display: flex;
  align-items: flex-end;
  padding-top: 5px;
  font-size: 1.6rem;
  border: none;
  outline: 1px var(--secondary-color-dark) solid;
}
.schedule-time select:focus,
.time-field input:focus {
  outline: 2px var(--secondary-color-light) solid;
}
.schedule-time select:focus > .schedule-time label {
  color: var(--secondary-color-light);
}
.btn-sch {
  width: 100%;
  background: var(--tartiary-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  justify-content: center;
  border: none;
  padding: 1rem 2rem;
}
.btn-sch--complete {
  justify-content: center;
  padding: 3px;
}
.btn-sch--complete .bx {
  font-size: 3rem;
  margin-right: 5px;
}

/* SCHEDULE Pages END */

/* SCHEDULES PAGE */
/* //////////////////// */

.section-schedules {
  padding-top: 4rem;
}
.schedules-wrapper {
  padding-bottom: 20px;
}
.sch-details {
  grid-gap: 0px;
  grid-row: auto;
  grid-column-gap: 1rem;
}

.sch-headers {
  padding: 4px 4px;
  margin-bottom: 10px;
  background: #fff;
  grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
  background: var(--tartiary-color);
}
.sch-headers h3 {
  font-size: 1.4rem;
  font-weight: 400;
  outline: 0.5px #fff solid;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 5px;
}
.sch-headers h3:not(:last-child) {
  margin-right: 4px;
}

.sch-content {
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.902);
  color: #202124;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
  border: 2px #f4f4f4 solid;
  grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
}
.sch-content--my {
  grid-template-columns: 1fr 1fr 1fr 3fr;
}
.schedules-wrapper .sch-details-link:nth-child(odd) {
  background-color: #1c284c;
}
.sch-content .sch-field {
  font-size: 1.2rem;
}
.sch-info {
  border-radius: 4px 4px 0 0;
}
.sch-info--field {
  border: 0.5px rgb(192, 192, 192) solid;
  margin-bottom: 5px;
  justify-content: flex-start;
  border-radius: 3px;
  grid-template-columns: 1fr 2fr;
}
.sch-info--field h3 {
  font-size: 1.4rem;
  font-weight: 400;
  background: #d4d4d4;
  padding: 5px;
  color: #000;
  margin-right: 5px;
}
.sch-info--field p {
  font-size: 1.4rem;
}
.sch-info--field input {
  border: none;
  height: 100%;
}
.sch-btns button {
  margin-top: 20px;
}
.sch-btns button:not(:last-child) {
  margin-right: 10px;
}
.sch-btns .btn-sch--inprogress {
  background: var(--primary-color-dark);
  justify-content: center;
}
.btn-sch--assign {
  background: var(--primary-color-dark);
}
.sch-btns .btn-sch--inprogress .bx {
  margin-right: 5px;
}
.sch-field--status {
  color: #fff;
}
.sch-field--status p {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
}
.card-content {
  margin: 10px 10px;
}
.sender-info {
  background: #fff;
}
.sender-info .sender-info--heading {
  padding: 10px 0px;
}
.sender-info--content {
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  background: #fff;
}
.sender-info--field {
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
}
.sender-img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.sender-info--field h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
.sender-info--field p {
  border: 0.5px rgb(192, 192, 192) solid;
  padding: 4px;
  font-size: 1.4rem;
}

.form-schedule .btn {
  background: var(--darkblue--bg);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
}
.form-schedule .next-btn {
  display: inline-block;
  float: right;
  text-transform: uppercase;
}

/* /////////////////////////////////
//////////////////////////////// */

/* Resources Page Begins Here.. */
.section-resources {
  padding-top: 4rem;
}
.resources-content-container {
  grid-column-gap: 10px;
  align-items: flex-start;
}
.resource-content {
  width: 100%;
  padding: 5px;
  background: #fff;
}
.resource-content:hover {
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 19%);
}
.resource-content .card-image {
  height: 200px;
  margin-bottom: 20px;
}
.resource-content .card-image img {
  object-fit: cover;
  height: 100%;
}
.resource-content .card-content h3 {
  font-size: 2rem;
  font-weight: bold;
}
.resource-content .card-content p {
  font-size: 1.6rem;
}
.resource-content .card-content--link {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.resource-content .card-content--link i {
  font-size: 2rem;
}
.resource-content .card-content--link:hover {
  text-decoration: underline;
}
.btn-rsrc {
  background: #fff;
  padding: 15px 30px;
  outline: 1px #0069d9 solid;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #0069d9;
  font-weight: 550;
  border-radius: 2px;
  transition: all 0.1s;
}
.btn-rsrc span {
  margin-right: 10px;
}
.btn-rsrc i {
  transform: scale(1.3);
  font-weight: 550;
}
.btn-rsrc:hover {
  outline: 2px #0069d9 solid;
}
/* Resources Page Ends Here... */
/* //////////////////////////////////
///////////////////////////////// */
/* SCHEDULES PAGE */

/* FOOTER */
footer {
  background: #fff;
  color: var(--secondary-color-dark);
}
.main-footer {
  padding: 7rem 3rem;
  justify-content: space-between;
  width: 100%;
  /* padding-top: 2rem; */
  align-items: flex-start;
}
.footer-top {
  padding: 3rem;
  padding-top: 0;
  padding-bottom: 2rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.footer-section-heading {
  margin-bottom: 15px;
}
.footer-section--contact {
  flex-direction: column;
  align-items: flex-start;
}
.footer .brandName {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
}
.footer-top p {
  font-size: 1.4rem;
}
.footer-logo img {
  height: 5rem;
  margin: 2rem 0;
}
.footer .svg {
  background: var(--secondary-color);
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.footer .svg:first-child {
  margin-left: 0;
}
.footer .svg i {
  font-size: 2rem;
  color: #fff;
}
.footer .svg:hover {
  background: var(--secondary-color-light);
}
.footer-column {
  align-items: flex-start;
  flex-direction: column;
  max-width: 40%;
}
.footer-form h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color-dark);
}
.footer-form p {
  font-size: 1.5rem;
}
.footer-form {
  width: 100%;
}
.footer .sub-form {
  width: 100%;
  margin-top: 20px;
}
.footer .sub-form input,
.footer .sub-form button {
  border: none;
  height: 3.5rem;
  outline: 3px var(--secondary-color-dark) solid;
  padding: 0.5rem 1rem;
}
.footer .sub-form input {
  width: 70%;
  outline: 3px var(--secondary-color-dark) solid;
}
.footer .sub-form button {
  width: 25%;
  background: var(--secondary-color-dark);
  color: #fff;

  text-transform: uppercase;
  font-weight: bold;
}
.section-before-footer {
  background: var(--tartiary-color);
  color: #fff;
  clip-path: ellipse(75% 100% at center top);
  padding: 10rem 6rem;
  flex-direction: column;
  font-size: 4rem;
}
.section-before-footer h3 {
  margin-bottom: 20px;
}
.section-before-footer button {
  padding: 19px 40px 20px;
  color: var(--secondary-color-dark);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer-links {
  flex-direction: column;
  align-items: flex-start;
}
.footer-links li a {
  font-size: 1.6rem;
  color: var(--secondary-color-dark);
}
.footer-bottom {
  text-align: center;
  color: var(--secondary-color-dark);
  border-top: 1px var(--secondary-color-dark) solid;
  padding: 2rem;
  font-size: 1.4rem;
}
canvas {
  width: 100%;
  height: 100%;
}

/* ////////////////////////////////
/////////////////////////////// */
/* SESSIONS STYLES BEGINNING */
.session-wrapper {
  height: 80vh;
  margin: 0 auto;
  max-width: 1280px;
  border: 1px #fff solid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 0;
  padding: 2rem 4rem;
  background: #000;
}
.call-container {
  background: #fff;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  max-width: 1083px;
  margin: 0 auto;
}
.video-box-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.local-video-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 175px;
  width: 175px;
  background: #000;
  border-radius: 4px;
}
.local_video {
  width: 100%;
  height: 100%;
}
.main-preview {
  width: 100%;
  height: 100%;
}
.remote_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cpanel-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.personalCode-init-container {
  width: 100%;
}
.chat-init-controls {
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}
.chat-init-controls input {
  padding: 7px 5px;
  border: none;
  outline: 0.5px #25abfd solid;
  margin-right: 10px;
}
.chat-init-controls button {
  background: #25abfd;
  padding: 7px 2rem;
  color: #fff;
}
.control-icons {
  justify-content: center;
  background: rgba(0, 0, 0, 0.379);
  height: 60px;
}
.control-icons--client {
  justify-content: flex-end;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.control-icons .icon {
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  cursor: pointer;
  background: #000;
}
.control-icons .icon i {
  color: #f4f4f4;
}
.control-icons .icon-hangup {
  background: #ea4335;
}
.control-icons .icon-startcall {
  background: #2c7cfc;
}
.control-icons #screen-sharing-start {
  background: #20bf6b;
}
.control-icons .icon-audio--unmute {
  background: #ea4335;
}
.control-icons .activeCallBtn {
  background: #ea4335;
}
.messanger-container {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 360px;
  background: #fff;
  padding: 1rem 0.5rem;
  margin-left: 30px;
  border-radius: 5px;
}
#messages_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.message_right_container {
  display: flex;
  justify-content: flex-end;
  min-width: 10px;
  margin-bottom: 10px;
}
.message_right_container p {
  font-size: 1.6rem;
  display: inline;
  background: #2c7cfc;
  color: #fff;
  padding: 5px 7px;
  border-radius: 7px 0px 0px 0px;
}
.message_left_container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  min-width: 10px;
  background: inherit;
}
.message_left_container p {
  background: #0e0d0d;
  color: #fff;
  font-size: 1.6rem;
  padding: 5px 7px;
  border-radius: 0px 7px 0 0;
  display: inline;
}

.chat-input {
  width: 100%;
}
.chat-input {
  width: 100%;
  position: relative;
}
.chat-input input {
  width: 100%;
  height: 35px;
  border: none;
  padding: 2px 5px;
  width: 100%;
  font-family: inherit;
  border-radius: 7px;
}
.chat-input button {
  padding: 0;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
  background: #fff;
}
.chat-input form button i {
  filter: invert(0);
}
.codes-container {
  position: absolute;
  right: 20px;
  top: 20px;
}
.codes-container .personalCode {
  outline: 0.5px var(--bg-color) solid;
  border-radius: 2px;
  padding: 3px 5px;
}
.codes-container .personalCode input {
  border: none;
  outline: none;
  font-size: 1rem;
}
.codes-container .personalCode button {
  background: inherit;
  padding: 0;
  margin-left: 10px;
}
.callDialogWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-dialog-content {
  background: rgb(24, 105, 138);
  width: 400px;
  height: 400px;
  color: #fff;
  border-radius: 5px;
  padding: 2rem 1rem;
}
.call-dialog-image {
  width: 200px;
  height: 200px;
  margin: 2rem auto;
}
.call-dialog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.call-dialog-content button {
  background: #f4f4f4;
}
.call-dialog-content .call-dialog-title {
  text-align: center;
  font-size: 2rem;
}
.call-dialog-content .call-dialog-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-dialog-content .call-dialog-btns-container button {
  border-radius: 2px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}
.call-dialog-content .call-dialog-btns-container .call-acc-btn {
  background: #55c57a;
}
.call-dialog-content .call-dialog-btns-container .call-rej-btn {
  background: #e12063;
}
.call-dialog-content .hangup-call-btn {
  background: #e12063;
}
/* ////////////////////////////////
/////////////////////////////// */
/* SESSIONS STYLES end*/

/* LOADERS */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
  z-index: 1000;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}
